.friends-actions {
    padding: 10px;
    text-align: right;
}

.friend-container {
    padding-right: 15px;
    padding-left: 15px;
}
.friend-request, .friend-invite {
    position: relative;
    padding: 10px;
    margin: 10px;
    border: 1.5px solid #cecdcdba;
    mat-icon {
        vertical-align: middle;
        float: right;
    }
    .accept-button-container {
        width: 80%;
        display: inline-block;
        text-align: right; 
    }
    .friend-details-container {
        width: 20%;
        display: inline-block;
        text-align: left; 
    }
}

span.clear { clear: left; display: block; }
