<div class="add-task-modal">
  <form [formGroup]="form" (ngSubmit)="submit(form)">
    <h1 *ngIf="!task.id" mat-dialog-title>Add New Task</h1>
    <h1 *ngIf="task.id" mat-dialog-title>Update Task</h1>
    <mat-dialog-content>
      <div class="add-task-container">
        <input type="hidden" formControlName="id">
        <mat-form-field>
          <input matInput formControlName="title" placeholder="Task title" required>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput formControlName="description" placeholder="Enter a description for your task"></textarea>
        </mat-form-field>
        <mat-form-field>
          <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date and time" formControlName="dueDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker [showSpinners]="true" [stepHour]="1" [stepMinute]="1" [stepSecond]="1">
          </ngx-mat-datetime-picker>
       </mat-form-field>
        <mat-form-field>
          <mat-label>Priority</mat-label>
          <mat-select formControlName="priorityId" required>
            <mat-option *ngFor="let priority of priorities" [value]="priority.id">
              <span class="task-priority" [ngStyle]="{'background': priority.colour }"></span>
              {{ priority.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Assignee</mat-label>
          <mat-select formControlName="assignedTo">
            <mat-option [value]="">Myself</mat-option>
            <mat-option *ngFor="let friend of friends" [value]="friend.friendId">
              {{ friend.friendUsername }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox formControlName="reminder">Remind me 1hr before due date</mat-checkbox>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button color="warn" type="button" mat-dialog-close>Cancel</button>
      <button *ngIf="!task.id" mat-button color="primary" type="submit" [disabled]="form.invalid">Add</button>
      <button *ngIf="task.id" mat-button color="primary" type="submit" [disabled]="form.invalid">Update</button>
    </mat-dialog-actions>
  </form>
</div>
