.sidenav-container {
    height: 100%;
  }

  .sidenav {
    width: 200px;
  }

  .sidenav a.active {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .sidenav .mat-toolbar {
    background: inherit;
  }

  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .user-welcome-bar {
    padding: 10px;
    background-color: #094fd061;
    font-size: 20px;
  }
