<div class="add-friend-modal">
    <form [formGroup]="userSearchForm" (ngSubmit)="submitUserSearch(userSearchForm)">
      <h1 mat-dialog-title>Add A Friend</h1>
      
      <mat-dialog-content>
        <div class="add-friend-container">
          <mat-form-field>
            <mat-label>Find a friend by their username</mat-label>
            <input matInput formControlName="username" placeholder="Username" required>
          </mat-form-field>
          <!-- <p *ngIf="!userId">No user found with this username</p> -->
          <button mat-flat-button color="accent" type="submit" [disabled]="userSearchForm.invalid">Find</button>
        </div>
      </mat-dialog-content>
    </form>
    
    <form [formGroup]="addUserForm" (ngSubmit)="submit(addUserForm)">
        <div class="add-task-container">
            <input type="hidden" formControlName="userId">
            <input type="hidden" formControlName="username" disabled>
            <div *ngIf="username != ''" class="friend-container">
                {{username}}
                <mat-icon>check_circle</mat-icon>
            </div>
            
            <p *ngIf="showNoUserFound">No user found with this username</p>
        </div>
        <mat-dialog-actions>
            <button mat-button color="warn" type="button" mat-dialog-close>Cancel</button>
            <button mat-flat-button color="primary" type="submit" [disabled]="addUserForm.invalid">Add</button>
        </mat-dialog-actions>
    </form>
  </div>
  
