@page
@{
    ViewData["Title"] = "Phone number confirmed";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Thank you for confirming your phone number.
    </p>
    <a href="/app">Go to App!</a>
    <a href="/Identity/Account/Manage">Go to my profile</a>
</div>