@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" model="Model.StatusMessage" />

<a href="/app">Go to App!</a>
<a href="/Identity/Account/Manage">Go to my profile</a>